.zoo{
    color:rgb(4, 101, 49);
    text-align: center;
}

h2 {
    color: rgb(78, 0, 3);
}

li{
    color: rgb(70, 33, 3);
}

p{
    color: rgb(5, 59, 1);
}

img{
    width:400px;
}


.animals{
    border:10px solid rgb(163, 114, 8);
    padding:50px;
    width: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
